<html lang="en" data-wgscriptallow="true" data-acxscriptallow="true">
<head>
    <meta charset="utf-8">
</head>
<body>
    <main>
        <div class="container" style="background-color: white">
            <section class="py-4 text-center container">
                <h1 class="fw-light">Добро пожаловать!</h1>
                <p class="lead text-muted">Вы находитесь в задании для практики</p>
                <p>
                    <a asp-controller="Students" asp-action="Index" class="btn btn-primary my-2">Просмотр списков студентов</a>
                    <a asp-controller="Attendances" asp-action="Index" class="btn btn-secondary my-2">Просмотр посещаемости</a>

                </p>
            </section>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading m-2">Факультет информационных технологий и робототехники <!-- <span class="text-muted">It’ll blow your mind.</span>--></h2>
                    <p class="lead mx-4">Отличительная особенность факультета информационных технологий и робототехники (ФИТР), ставшая определяющей в организации учебного процесса, - интеграция образования, производства и науки, что обеспечивает выпускникам факультета возможность работы в самых разнообразных областях науки и техники, включая малый и большой промышленный, научный и финансовый бизнес, позволяет им стать ведущими специалистами в своей области. Специальности, по которым ведется подготовка специалистов на ФИТР, относятся к мобильным, постоянно развивающимся областям науки и техники. </p>
                    <div class="col-md-1 text-center ">
                        <div class="btn-group">
                            <a asp-controller="Attendances" asp-action="Index" class="btn btn-sm btn-outline-secondary mx-4" style="">Группы</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="~/assetc/img/it_sfera.jpg" alt="..." class="img-thumbnail">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Факультет дизайна  </h2>
                    <p class="lead">
                        Дизайнер — творец окружающего мира. Он стремится охватить все сферы жизни современного человека, причем его интересует не только внешний вид (оболочка) предметов, но и их внутренняя суть и функциональная взаимосвязь.
                        Дизайн — от английского «design» — проект, план, рисунок — термин, обозначающий разновидность художественно-проектной деятельности, охватывающей создание предметной среды (машин, вещей, интерьеров) и основанной на принципах сочетания удобства, экономичности и красоты.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="~/assetc/img/desing.jpg" alt="..." class="img-thumbnail">
                </div>
            </div>
        </div>
</main>

    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
